.btn {
    padding: 0.375rem 0.75rem;
    border-radius: var(--nx-button-radius);
    border: 1px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

    &-primary {
        background-color: var(--nx-color-primary);
        color: #fff;

        &:hover {
            background-color: darken(var(--nx-color-primary), 10%);
        }
    }

    &-secondary {
        background-color: var(--nx-color-secondary);
        color: #fff;

        &:hover {
            background-color: darken(var(--nx-color-secondary), 10%);
        }
    }

    &-accent {
        background-color: var(--nx-color-accent);
        color: #fff;

        &:hover {
            background-color: darken(var(--nx-color-accent), 10%);
        }
    }
}
