

.btn {
    --background-color: var(--background-secondary);
    --text-color:
    --

}


.btn-primary {
    --background-color: var(--background-primary);
}
.btn-accent {
    --background-color: var(--background-accent);
}
