
:root {

    --nx-color-primary: #007bff;
    --nx-color-secondary: #6c757d;
    --nx-color-accent: #17a2b8;
    --nx-color-success: #28a745;
    --nx-color-danger: #dc3545;
    --nx-color-warning: #ffc107;

    --nx-button-radius: 0.25rem;
}
